syntax = "proto2";
package netproto;


{{- range $KT, $msgType := .MessageType}}
    {{- range $KF, $msgField := .Field -}}
        {{- if isMap $ $msgField}}
message {{$msgType.Name}}{{$msgField.Name}} {
    optional {{mapKey $ $msgField  | protoType}} key = 1;
    optional {{mapVal $ $msgField | protoType }} val  = 2;
}      
        {{- else}}
 message {{$msgType.Name}}{{$msgField.Name}} {
    optional int32 key = 1;
    optional {{protoType $msgField}} val  = 2;
}       
        {{- end}}
    {{- end}}
{{- end}}


{{- range $KT, $msgType := .MessageType}}
message {{$msgType.Name}} {
    {{- range $KF, $msgField := .Field}}
    {{- if isRepeated $msgField}}
        repeated {{$msgType.Name}}{{$msgField.Name}} {{$msgField.Name}} = {{$msgField.Number}};
    {{- else}}
        optional {{protoType $msgField}} {{$msgField.Name}} = {{$msgField.Number}};
    {{- end}}
    {{- end}}
}

{{- end}}
